@keyframes heart_anim_1
  0%
    transform scale(0.6)
  100%
    transform scale(0.5)
@keyframes heart_anim_2
  0%
    transform scale(0.7)
  100%
    transform scale(0.6)
@keyframes heart_anim_3
  0%
    transform scale(0.8)
  100%
    transform scale(0.7)
@keyframes heart_anim_4
  0%
    transform scale(0.9)
  100%
    transform scale(0.8)
@keyframes heart_anim_5
  0%
    transform scale(1.2)
  100%
    transform scale(1)
@keyframes heart_anim_6
  0%
    transform scale(1.4)
  100%
    transform scale(1)
@keyframes heart_anim_7
  0%
    transform scale(1.6)
  100%
    transform scale(1)
@keyframes heart_anim_8
  0%
    transform scale(1.8)
  100%
    transform scale(1)
@keyframes heart_anim_9
  0%
    transform scale(2)
  100%
    transform scale(1)
@keyframes heart_anim_10
  0%
    transform scale(2)
  100%
    transform scale(0.5)

@keyframes heart_grad
  0%
    background-color $heart_color
  100%
    background-color #FF8010
