color_text = #333333
color_background = #F7F7E5

color_white = #FFFFFF
color_black = #000000

color_border = #dadada

$all_area_background = #E6EEFF
$area_background = #FFF4FC

$heart_color = #FBCFCF
$title_color = #ff8c38

$heart_color1 = #3659c1
$heart_color2 = #457fc3
$heart_color3 = #57a4d6
$heart_color4 = #4fc4e9
$heart_color5 = #fcdac9
$heart_color6 = #ffb48e
$heart_color7 = #fa9f7d
$heart_color8 = #fc895d
$heart_color9 = #f66c29
$heart_color10 = #fe4219
$heart_color11 = #f6280c
