color_text = #333333
color_background = #F7F7E5

color_white = #FFFFFF
color_black = #000000

color_border = #dadada

$all_area_background = #E6EEFF
$area_background = #FFF4FC

$heart_color = #FBCFCF
$title_color = #ff8c38
