<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="description" content="サイト説明"/>
    <meta name="keywords" content="hoge,fuga"/>
    <meta property="og:title" content="サイトタイトル"/>
    <meta property="og:type"/>
    <meta property="og:url" content="http://siteurl.name/"/>
    <meta property="og:image" content="http://siteurl.name/assets/images/ogp.png"/>
    <meta property="og:site_name" content="サイト名"/>
    <meta property="og:description" content="サイト説明"/>
    <link rel="stylesheet" href="./assets/styles/app.css">
    <script src="https://cdn.rawgit.com/riot/riot/master/riot+compiler.min.js"></script>
    <title>Top Page｜サイトタイトル</title>
  </head>
  <body>

    <app></app>

    <script src="tag/app.html" type="riot/tag"></script>
    <script src="tag/app-header.html" type="riot/tag"></script>
    <script src="tag/app-container.html" type="riot/tag"></script>
    <script src="tag/app-all-wrapper.html" type="riot/tag"></script>
    <script src="tag/app-area-wrapper.html" type="riot/tag"></script>

    <script src="https://cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)"></script>
    <script src="./scripts/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>riot.mount('*');</script>
  </body>
</html>
