<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="description" content="イベントを盛り上がり度を可視化するサービス"/>
    <meta property="og:title" content="Exciting NOW!"/>
    <meta property="og:type"/>
    <meta property="og:url" content="http://222.158.198.88/"/>
    <meta property="og:site_name" content="Exciting NOW!"/>
    <meta property="og:description" content="イベントを盛り上がり度を可視化するサービス"/>
    <link rel="stylesheet" href="styles/style.css">
    <title>Exciting NOW</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="//www.amcharts.com/lib/3/serial.js"></script>
    <script src="//www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js" type="text/javascript"></script>
    <script src="//www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="//www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="//www.amcharts.com/lib/3/themes/light.js"></script>
    <link rel="stylesheet" href="styles/chart.css" >
    <script src="javascripts/chart.js"></script>
  </head>
  <body>
    <header>
      <h1>Exciting NOW</h1>
    </header>
    <div id="chartdiv"></div>
  </body>
</html>
