<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="description" content="サイト説明"/>
    <meta name="keywords" content="hoge,fuga"/>
    <meta property="og:title" content="サイトタイトル"/>
    <meta property="og:type"/>
    <meta property="og:url" content="http://siteurl.name/"/>
    <meta property="og:image" content="http://siteurl.name/assets/images/ogp.png"/>
    <meta property="og:site_name" content="サイト名"/>
    <meta property="og:description" content="サイト説明"/>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.rawgit.com/riot/riot/master/riot+compiler.min.js"></script>
    <title>Top Page｜サイトタイトル</title>
  </head>
  <body>
    <header>
      <h1>Exciting Now</h1>
    </header>
    <div class="l-container">
      <div class="all_wrapper">
        <h2>EventName</h2>
        <div class="container">
          <div class="heart_wrapper heart1">
            <div class="all_heart"></div>
          </div>
          <div class="device_count"><span class="text">デバイス数</span><span>N 数</span></div>
        </div>
      </div>
      <div class="area_wrapper">
        <div class="area">
          <h3>Area Name</h3>
          <div class="container">
            <div class="heart_wrapper heart1">
              <div class="heart"></div>
            </div>
            <div class="device_count">M 数</div>
          </div>
        </div>
        <div class="area">
          <h3>Area Name</h3>
          <div class="container">
            <div class="heart_wrapper heart1">
              <div class="heart"></div>
            </div>
            <div class="device_count">M 数</div>
          </div>
        </div>
      </div>
    </div>
    <script src="./scripts/main.js"></script>
    <script>riot.mount('*');</script>
  </body>
</html>
