<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="description" content="イベントを盛り上がり度を可視化するサービス"/>
    <meta property="og:title" content="Exciting NOW!"/>
    <meta property="og:type"/>
    <meta property="og:url" content="http://222.158.198.88/"/>
    <meta property="og:site_name" content="Exciting NOW!"/>
    <meta property="og:description" content="イベントを盛り上がり度を可視化するサービス"/>
    <link rel="stylesheet" href="styles/style.css">
    <title>Exciting NOW</title>
  </head>
  <body>
    <header>
      <h1>Exciting NOW</h1>
    </header>

    <app></app>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//cdn.rawgit.com/riot/riot/master/riot+compiler.min.js"></script>
    <script src="tags/app.tag" type="riot/tag"></script>
    <script>riot.mount('app');</script>
  </body>
</html>
