doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
		link(rel="stylesheet", href="../public/styles/style.css")
		script(src="/socket.io/socket.io.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/javascripts/client.js")
		block title
			title Default title
	body
		block body
