html, body
  width 100%

body
  font-size 15px
  line-height 1.4
  position relative
  font-family "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif
  color color_text
  background color_background
  word-wrap break-word
  -webkit-text-size-adjust 100%
  -webkit-overflow-scrolling touch
  -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
  font-weight normal

a
  color color_text
  text-decoration none
  &:hover
    color color_text
