header
  width 100%
  padding 10px 0 30px
  h1
    font-size 40px
    font-weight bold
    color $title_color
    text-align center

@media screen and (max-width 800px)
  header
    padding 10px 0 20px
    h1
      font-size 30px
