.area_wrapper
  display flex
  justify-content space-around
  flex-wrap wrap
  margin-bottom 50px
  .area1, .area2
    padding 10px
    margin-bottom 30px
    text-align center
    background-color $area_background
    border 3px solid color_border
    border-radius 20px
    width 300px
    h3
      font-size 24px
      font-weight bold
