.heart1
  transform-origin: 50% 50%
  animation heart_anim_1 3s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 3s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 3s linear infinite alternate

.heart2
  transform-origin: 50% 50%
  animation heart_anim_2 2.8s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 2.8s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 2.8s linear infinite alternate

.heart3
  transform-origin: 50% 50%
  animation heart_anim_3 2.6s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 2.6s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 2.6s linear infinite alternate

.heart4
  transform-origin: 50% 50%
  animation heart_anim_4 2.4s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 2.4s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 2.4s linear infinite alternate

.heart5
  transform-origin: 50% 50%
  animation heart_anim_5 2.2s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 2.2s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 2.2s linear infinite alternate

.heart6
  transform-origin: 50% 50%
  animation heart_anim_6 1.8s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 1.8s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 1.8s linear infinite alternate

.heart7
  transform-origin: 50% 50%
  animation heart_anim_7 1.4s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 1.4s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 1.4s linear infinite alternate

.heart8
  transform-origin: 50% 50%
  animation heart_anim_8 1.2s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 1.2s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 1.2s linear infinite alternate

.heart9
  transform-origin: 50% 50%
  animation heart_anim_9 0.9s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 0.9s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 0.9s linear infinite alternate

.heart10
  transform-origin 50% 50%
  animation heart_anim_10 0.7s ease infinite alternate
  .heart
    &:after, &:before
      animation heart_grad 0.7s linear infinite alternate
  .all_heart
    &:after, &:before
      animation heart_grad 0.7s linear infinite alternate
